.product-details__container{
    max-width: 678px;
    margin: 0 auto;
}

.carousel{
    &__image{
        width: 100% ;
        margin: 0 auto;
        height: 40vh;
        object-fit: contain;
    }
}